/* 
Project:    IAB207 Assignment 3 - Group 12
Document:   responsive.css
Author:     
Date:       

This CSS file contains responsive breakpoint styles not covered by bootstrap
that will override the default style.css where relevant

https://getbootstrap.com/docs/5.2/layout/breakpoints/
*/

/* XS Device */
@media (max-width: 575.98px) {
    .nav-button {
        width: 100%;
    }

    .banner h1 {
        font-size: 2rem;
    }
    
    .banner h2 {
        font-size: 1rem;
    }
}

/* Small Device */
@media (max-width: 767.98px) {
    .nav-button {
        width: 12vw;
    }

    .banner h1 {
        font-size: 3rem;
    }
    
    .banner h2 {
        font-size: 2rem;
    }
}

/* Medium Device */
@media (max-width: 991.98px) {
    .nav-button {
        width: 14vw;
    }
}