{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}


{% block content %}

<!-- Page Banner -->
<section class="banner d-flex">
    <div class="container h-100 mt-3 mb-0">
        <div class="row h-100 mb-0">
            <div class="col-12 d-flex flex-column mb-0">
                <div class="mt-auto me-auto p-4 mb-0 nav-background">
                    <h2 class="details-h2">
                        Create Event
               
                        
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    
    <div class="my-3 p-3 createCSS">
 
       
        <div class="my-5 p-3 bg-body rounded shadow-sm">
            <h3 class="class=border-bottom pb-2 mb-0">Event Details</h3>

            <form method="POST" action="{{url_for('main.createevent')}}" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">{{form.eventname.label}}</label>
                        <br>
                        {{form.eventname}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{form.artist.label}}</label>
                        <br>
                        {{form.artist}}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{form.genre.label}}</label>
                        {{form.genre}}
                    </div>
                    <div class="input-group col-md-8">
                        <span class="input-group-text">{{form.date.label}}</span>
                        {{form.date}}
                    </div>
                    <div class="input-group col-md-8">
                        <span class="input-group-text">{{form.time.label}}</span>
                        {{form.time}}
                    </div>
  
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text">{{form.info.label}}</span>
                            {{form.info}}                         
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text">{{form.venue.label}}</span>
                            {{form.venue}}                         
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group nobullets">
                            <span class="input-group-text">{{form.status.label}}</span>
                            {{form.status}}                         
                        </div>
                    </div>
  

                    <div class="row g-3">
                        <h3 class="class=border-bottom pb-2 mb-0">{{form.image.label}}</h3>
                        {{form.image}}
                        <div class="input-group mb-3">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="inputEmail4" class="form-label">{{form.tickets.label}}</label>
  
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="inputPresentation" class="form-label">{{form.price.label}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                       
                                        <span class="input-group-text"  id="basic-addon1">#</span>
                                        {{form.tickets}}                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">$</span>
                                        {{form.price}}                                    </div>
                                </div>
         
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {{form.submit.label}}
                            {{form.submit}}
                        </div>   
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>

         

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

{% endblock %}