{% extends "base.html" %}

{% block content %}

<head>
    <main class="mb-5">
        <!-- Page Banner -->
        <section class="banner banner-index d-flex">
            <div class="container h-100 mt-3 mb-0">
                <div class="row h-100 mb-0">
                    <div class="col-12 d-flex flex-column mb-0">
                        <h1 class="mb-auto">Concert Finder</h1>
                        <h2 class="mt-auto me-auto p-4 mb-0 nav-background">Home</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- Index Filtering Form -->
        <section class="pb-md-3 pt-5">

            <div class="container">
                <div class="mx-auto">
                    <h1>Search by title</h1>
                    <form class="form-inline " action="{{url_for('main.search')}}">
                        <div class="row">

                            <div class="col-lg-8"><input type="text" name="search" class="form-control" id="SearchForm">
                            </div>
                            <div class="col-lg-4"><button type="submit" class="btn btn-primary my-1">Search</button>
                            </div>
                        </div>

                    </form>
                </div>


            </div>
        </section>
        <section class="pb-md-3 pt-5">
            <div class="container">
                <div class="mx-auto">
                    <h1>Or Search by Genre</h1>
                    <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.genre')}}">
                        <select class="form-select" title="Genre Select" id="genre-select" name="genre">
                            <option selected value="all">--All Genres--</option>
                            <option value="ROCK">ROCK</option>
                            <option value="ALTERNATIVE">ALTERNATIVE</option>
                            <option value="BLUES">BLUES</option>
                            <option value="POP">POP</option>
                            <option value="COUNTRY">COUNTRY</option>
                            <option value="CLASSICAL">CLASSICAL</option>
                            <option value="EDM">EDM</option>
                            <option value="JAZZ">JAZZ</option>
                        </select>
                        <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Search</button>
                </div>
                </form>
            </div>
        </section>

        <section>
            <div class="container">

                <!-- Subheading - "Upcoming events" -->
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="subHeadingsCSS">Recently Created events</h2>
                    </div>
                </div>

                <!-- First Row of Events -->
                <div class="card-group indexcardgroup">
                    {% for event in events|reverse %}
                    {% if event.status.name != 'UNPUBLISHED' %}
                    <div class="col-md-4 col-sm-6 mr-1">
                        <div class="card indexcards">
                            <img class="card-img-top" src={{event.image}} alt="event picture">
                            <div class="card-body">
                                <h5 class="card-title">{{event.title}}</h5>
                                <h5 class="card-title"> {{event.status.value}}</h5>
                                <p class="card-text">{{event.description}}</p>
                            </div>
                            <div class="card-footer"><a href="{{url_for('main.concert', id=event.id)}}"
                                    class="btn btn-danger"> View Details </a></div>
                        </div>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
        </section>
    </main>


    {% endblock %}