{% extends "base.html" %}

{% block content %} 

<head>
    <main class="mb-5">
        <!-- Page Banner -->
        <section class="banner banner-index d-flex">
            <div class="container h-100 mt-3 mb-0">
                <div class="row h-100 mb-0">
                    <div class="col-12 d-flex flex-column mb-0">
                        <h1 class="mb-auto">Concert Finder</h1>
                        <h2 class="mt-auto me-auto p-4 mb-0 bg-dark">Home</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- Index Filtering Form -->
        <section class="pb-md-3 pt-5">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-md-5 mt-auto">
                            <div>
                                <label class="filter-label" for="search">Artist or Venue:</label>
                                <input id="Search" type="text" class="form-control" title="Search
                                    placeholder=" Search by Artist or Venue" />

                                <label class="filter-label" for="genre-select">Genre:</label>
                                <select class="form-select" title="Genre Select" id="genre-select">
                                    <option selected value="all">--All Genres--</option>
                                    <option value="country">Country</option>
                                    <option value="electronic">Electronic</option>
                                    <option value="metal">Metal</option>
                                    <option value="rock">Rock</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5 mt-auto">
                            <div>
                                <label class="filter-label" for="status-select">Status:</label>
                                <select class="form-select" title="Status Select" id="status-select">
                                    <option selected value="all">--All Statuses--</option>
                                    <option value="upcoming">Upcoming</option>
                                    <option value="inactive">Inactive</option>
                                    <option value="booked">Booked</option>
                                    <option value="cancelled">Cancelled</option>
                                </select>

                                <label class="filter-label" for="datePicker">Date: </label>
                                <input id="datePicker" type="date" class="form-control" title="Date Picker" />
                            </div>
                        </div>

                        <div class="col-auto mt-auto ms-auto">
                            <div class="d-grid mx-auto py-3 py-md-0 mb-md-4">
                                <button class="btn btn-danger btn-red" type="reset">
                                    Reset Filters
                                </button>
                            </div>
                            <div class="d-grid mx-auto">
                                <button class="btn btn-primary btn-green" type="submit">
                                    Apply Filters
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section>
            <!-- Subheading - "Upcoming events" -->
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="subHeadingsCSS">Upcoming events</h2>
                </div>
            </div>

            <!-- First Row of Events -->
            <div class="row p-3">
                <!-- Event Card 1 -->
                <div class="col-lg-3 col-md-6 col-sm-6 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/billie.jpg" class="card-img-top" alt="Billie Eilish">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">Billie Eilish</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">25th September 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 2 -->
                <div class="col-lg-3 col-md-6 col-sm-6 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/dua.jpeg" class="card-img-top" alt="Dua Lipa">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">Dua Lipa</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">28th September 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 3 -->
                <div class="col-lg-3 col-md-6 col-sm-6 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/luke.jpg" class="card-img-top" alt="Luke Combs">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Sold Out</h5>
                            <h5 class="card-title text-center">Luke Combs</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">1st November 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 4 -->
                <div class="col-lg-3 col-md-6 col-sm-6 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/guns.jpg" class="card-img-top" alt="Guns N' Roses">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">Guns N' Roses</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">2nd November 2022</p>
                        </div>
                    </div>
                </div>

            </div>
            <br>

            <!-- Subheading - "Events you may like" -->
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="subHeadingsCSS">Events you might like</h2>
                </div>
            </div>

            <!-- Second Row of Events -->
            <div class="row p-3">
                <!-- Event Card 5 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/elton.jpg" class="card-img-top" alt="Elton John">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">Elton John</h5>
                            <p class="card-text">Elton John back in Aistralia on his latest farwell tour. Get tickets now for this last opporunity (until the next one)!</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">19th November 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 6 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/arctic.jpeg" class="card-img-top" alt="Arctic Monkeys">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Sold Out</h5>
                            <h5 class="card-title text-center">Arctic Monkeys</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">118th December 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 7 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/thekillers.jpg" class="card-img-top" alt="The Killers">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">The Killers</h5>
                            <p class="card-text">The band that sings "Mr. Brightside".</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">3rd January 2023</p>
                        </div>
                    </div>
                </div>

                <!-- Evenet Card 8 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/kooks.jpg" class="card-img-top" alt="The Kooks">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">The Kooks</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">5th January 2023</p>
                        </div>
                    </div>
                </div>

            </div>
            <br>

            <!-- Subheading - "Events near you" -->
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="subHeadingsCSS">Events near you</h2>
                </div>
            </div>

            <!-- Third Row of Events -->
            <div class="row p-3">
                <!-- Event Card 9 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/thewombats.jpg" class="card-img-top" alt="The Wombats">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">The Wombats</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">29th September 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 10 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/sting.jpg" class="card-img-top" alt="Sting">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">Sting</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">30th December 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 11 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/florence.jpg" class="card-img-top" alt="Florence + the Machine">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">Florence + the Machine</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">27th November 2022</p>
                        </div>
                    </div>
                </div>

                <!-- Event Card 12 -->
                <div class="col-lg-3 col-md-6 col-12 p-3">
                    <div class="card cardCSS">
                        <img src="static/img/ed.jpg" class="card-img-top" alt="Ed Sheeran">
                        <div class="card-body">
                            <h5 class="card-title cardTitleCSS">Upcoming</h5>
                            <h5 class="card-title text-center">Ed Sheeran</h5>
                            <p class="card-text">Information about the artist and show.</p>
                            <div class="d-grid gap-2">
                                <a href="eventdetails.html" class="btn btn-primary buttonCSS">Event Details</a>  
                            </div>  
                            <br>
                            <p class="card-text dateCSS">5th January 2023</p>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        
        </section>
    </main>
</head>


{% endblock %}