{% extends "base.html" %}

{% block header %}
<!-- Page Banner -->
<section class="banner d-flex">
    <div class="container h-100 mt-3 mb-0">
        <div class="row h-100 mb-0">
            <div class="col-12 d-flex flex-column mb-0">
                <h2 class="mt-auto me-auto p-4 mb-0 nav-background">My Events</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-5">
    <div class="container">
        <h1>My Hosted Events</h1>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive-md">
                    <table class="table table-striped align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th class="" scope="col">Concert ID</th>
                                <th scope="col"></th>
                                <th scope="col">Concert</th>
                                <th class="d-none d-sm-table-cell" scope="col">Status</th>
                                <th scope="col">Concert Date</th>
                                <th class="text-center" scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Hosted Events -->
                            {% for hosted in current_user.events %}
                            <tr>
                                <th scope="row">{{hosted.id}}</th>
                                {% if hosted.image is none %}
                                <td class="img-tablecell d-table-cell"><img class="img-fluid img-table"
                                        src="/static/img/default_event.jpg" alt="Concert Image"></td>
                                {% else %}
                                <td class="img-tablecell d-table-cell"><img class="img-fluid img-table"
                                        src={{hosted.image}} alt="Concert Image"></td>
                                {% endif %}
                                <td class="d-none d-sm-table-cell">{{hosted.title}}</td>
                                <td> {{hosted.status.value}} </td>
                                <td>{{hosted.time}} | {{hosted.date}}</td>
                                <td class="text-center">
                                    <a href="{{url_for('main.concert', id=hosted.id)}}"
                                        class="btn btn-primary btn-green">
                                        View Event
                                    </a>
                                    <a href="{{url_for('main.editevent', id=hosted.id)}}"
                                        class="btn btn-primary btn-green">
                                        Edit Event
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-3">
    <div class="container">
        <h1>My Booked Events</h1>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive-md">
                    <table class="table table-striped align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th class="" scope="col">Order ID</th>
                                <th scope="col"></th>
                                <th scope="col">Concert</th>
                                <th class="d-none d-sm-table-cell" scope="col">Venue</th>
                                <th scope="col">Booking Date</th>
                                <th class="text-center" scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Booked Events -->
                            {% for booking in current_user.bookings %}
                            <tr>
                                <th scope="row">{{booking.id}}</th>
                                {% if booking.event.image is none %}
                                <td class="img-tablecell d-table-cell"><img class="img-fluid img-table"
                                        src="/static/img/default_event.jpg" alt="Concert Image"></td>
                                {% else %}
                                <td class="img-tablecell d-table-cell"><img class="img-fluid img-table"
                                        src={{booking.event.image}} alt="Concert Image"></td>
                                {% endif %}
                                <td>{{booking.event.title}}</td>
                                <td class="d-none d-sm-table-cell">{{booking.event.venue}}</td>
                                <td> {{booking.event.time}} </td>
                                <td class="text-center">
                                    <a href="{{url_for('main.concert', id=booking.event.id)}}"
                                        class="btn btn-primary btn-green">
                                        View Details
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}